html, body {
  margin: 0;
  width: 100%; /* width: 100vw; */
  height: 100%;
  font-family: Verdana, Arial, Helvetica, sans-serif;
}

ul {
  margin: 0;
  padding: 0;
}

.page {
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 100%;
}

header {
  background-color: #f1f1f1;
  border-bottom: 1px solid lightgray;
}

.header-logo {
  padding: 5px;
  padding-top: 10px;
}

.header-menu {
  margin: 0;
  padding: 0;
  max-width: 95vw;
}

.header-menu li {
  display: inline-block;
  border-left: solid 1px #a0a0a0;
  padding-left: 0.5em;
  margin-left: 0.5em;
  margin-bottom: 0.5em;
}

.header-menu li:first-child {
  border-left: 0;
  margin-left: 0;
}

footer {
  background-color: #f1f1f1;
  border-top: 1px solid lightgray;
}

.footer-content {
  max-width: 95vw;
  padding: 0.3em;
  font-size: 85%;
  text-align: center;
}

.footer-content > div {
  padding: 0.3em;
}

.footer-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.5em;
}

@media (max-width: 800px) {

  main {
    margin-bottom: 3em;
  }

  main .text {
    margin: 1em;
  }

  .text p {
    margin-right: 2em;
    max-width: 60em;
    line-height: 1.5em;
  }
}

@media (min-width: 801px) {

  main {
    margin-bottom: 5em;
  }

  main .text {
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 5em;
    margin-right: 10em;
  }

  .text p {
    max-width: 60em;
    line-height: 1.5em;
  }
}

div.center {
  display: flex;
  justify-content: center;
}

.large-spacer {
  margin-top: 5em !important;
}

.medium-spacer {
  margin-top: 3em !important;
}

.small-spacer {
  margin-top: 1em !important;
}

/**********************/

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  color: red;
  line-height: 1.2em;
  margin: 2em 0 0 0;
}

h1.first-content, h2.first-content, h3.first-content {
  margin-top: 0;
  padding-top: 0;
  border: none;
}

h1 {
  font-size: 1.5em;
}

p {
  /*line-height: 1.5em;*/
  /*margin-top: 1em;*/
  /*margin-bottom: 1em;*/
}

li {
  /*line-height: 1.5em;*/
}

ul {
  /*margin-left: 1em;*/
}

p.bold {
  font-weight: bold;
}

p.italic {
  font-style: italic;
}

p.centered {
  text-align: center;
}

p.centered-italic {
  text-align: center;
  font-style: italic;
}

img.centered {
  /*display: block;*/
  /*margin-top: 2em;*/
  /*margin-bottom: 2em;*/
  /*margin-top: 2em;*/
  /*margin-left: auto;*/
  /*margin-right: auto;*/
}

img.right {
  /*display: block;*/
  /*float: right;*/
  /*margin-top: 0em;*/
  /*margin-left: 2em;*/
  /*margin-bottom: 2em;*/
}

img.left {
  /*display: block;*/
  /*float: left;*/
  /*margin-top: 0em;*/
  /*margin-right: 2em;*/
  /*margin-bottom: 2em;*/
}

i {
  font-style: italic;
}

b {
  font-weight: bold;
}

a:link {
  text-decoration: underline;
  color: blue
}

a:visited {
  text-decoration: underline;
  color: blue
}

a:hover {
  text-decoration: underline;
  color: red
}

a.external {
  background: url(images/external.png) center right no-repeat;
  /*padding-right: 13px;*/
}

/**** person page ****/

.person-image-group {
  padding-top: 1em;
  padding-bottom: 2em;
}

.person-image-group-title {
  display: flex;
  flex-wrap: wrap;
  gap: 0.2em;
  padding-bottom: 0.2em;
}

.person-contributions {
  padding-left: 1em;
  color: gray;
}

.person-detail-photo-block {
  display: flex;
  flex-wrap: wrap;
}

@media (max-width: 800px) {
  .person-photo {
    padding-top: 1em;
    padding-bottom: 1em;
  }
  .person-production-description {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
  }
}

@media (min-width: 801px) {
  .person-photo {
    padding: 2em;
  }
  .person-production-description {
    padding-top: 0.5em;
    padding-bottom: 1em;
    padding-left: 2em;
  }

  .person-image-group {
    padding-bottom: 2em;
  }
}

/** persons page **/

.persons {
  display: flex;
  flex-direction: column;
}

.persons-group {
  display: flex;
  margin-top: 1em;
  flex-wrap: wrap;
  padding-bottom: 1em;
}

.persons-letter {
  width: 2em;
  color: red;
  font-size: 1.5em;
  padding-bottom: 0.5em;
}

.persons-block {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  margin-top: 0.3em;
  max-width: 80vw;
}

.persons-person {
  display: flex;
}

.persons-number {
  width: 2.5em;
  flex-shrink: 0;
}

.persons-info {
  display: flex;
  flex-wrap: wrap;
  column-gap: 1em;
  row-gap: 0.1em;
}

.persons-name {
  text-wrap: nowrap;
}

.persons-statistics {
  text-wrap: nowrap;
  color: gray;
}

/*********************************************/

/** production page **/

.production .subtitle {
  color: red;
}

.production-summary {
  display: flex;
}

.production-description ul {
  margin-left: 3em;
  list-style-type: circle;
}

@media (max-width: 800px) {
  .production .subtitle {
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 1em;
  }
  .production-summary {
    flex-direction: column;
    gap: 2em;
  }
}

@media (min-width: 801px) {
  .production .subtitle {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    margin-left: 3em;
  }
  .production-summary {
    flex-direction: row;
    gap: 4em;
  }
  .production-description {
    flex-grow: 1;
  }
  .production-poster {
    flex-grow: 0;
  }
}

.article ul {
  margin-left: 3em;
  list-style-type: circle;
}

.production-performances {
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 3em;
}

.production-performances p {
  margin-top: 0em;
  margin-bottom: 0em;
}

.production-location {
  margin-left: 3em;
  margin-top: 1em;
  margin-bottom: 1em;
}

.roles {
  clear: both;
}

.roles:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.roles-title {
  text-align: center;
  font-weight: bold;
  margin-left: 1em;
  margin-top: 3em;
  margin-bottom: 1em;
}

.role-left {
  width: 50%;
  float: left;
  text-align: right;
  margin-top: 0.3em;
  margin-bottom: 0.3em;
}

.role-right {
  float: left;
  margin-left: 0.5em;
  margin-top: 0.3em;
  margin-bottom: 0.3em;
}

.roles p {
  line-height: 1.2em;
  margin-top: 0em;
  margin-bottom: 0em;
}

.fragment p {
  clear: both;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.fragment span.actor {
  float: left;
  width: 7em;
}

.fragment span.text {
  float: left;
  max-width: 33em;
  min-width: 23em;
}

/** productions page **/

.productions li {
  list-style: none;
  display: flex;
  margin-bottom: 1.5em;
}

.productions .production-index {
  width: 3em;
  min-width: 3em;
  padding-bottom: 0.3em;
  color: gray;
}

@media (max-width: 600px) {
  .productions li {
    flex-direction: column;
  }

  .productions .production-description {
    margin-top: 0.4em;
    margin-left: 1em;
  }
}

@media (min-width: 601px) {
  .productions li {
    flex-direction: row;
  }

  .productions .production-description {
    margin-top: 0.4em;
    margin-left: 3em;
  }
}


/** person page **/

.image-group .production-description {
  margin-top: 0.4em;
  margin-left: 2em;
}

/*!** home page **!*/

/*.home h1 {*/
/*  border-top: 2px solid lightgray;*/
/*  margin-top: 1em;*/
/*  padding-top: 1em;*/
/*}*/

/** reservation page **/

.reservation-label {
  float: left;
  width: 12em;
  margin-top: 0.3em;
  margin-bottom: 0.3em;
  line-height: 1.5em
}

.reservation-value {
  float: left;
  width: 30em;
  margin-top: 0.3em;
  margin-bottom: 0.3em;
  line-height: 1.5em
}

/** reaction page **/

.reaction-comment {
  margin-left: 3em;
  color: gray;
  line-height: 1.2em;
}

.reaction-indent {
  margin-left: 3em;
}

/* faces page */

.faces {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}

.faces li {
  margin: 5px;
  padding: 5px;
  border: 1px solid #cccccc;
  width: 85px;
  height: 125px;
  list-style: none;
}

.faces img {
  display: block;
  margin: auto;
}
